{% extends 'App/base.html' %}
{% block content %}
    <div class="container">
        <a href="{% url 'create' %}" class="btn btn-outline-primary mb-3 mt-5">
            <i class="fas fa-plus"></i>&nbsp;&nbsp; Candidate
        </a>
        <form>
            <div class="input-group mb-3">
                <input type="text" name="q" class="form-control input-sm" placeholder="Global searchbox" value="{{ request.GET.q }}">
                <button class="btn btn-secondary" title="Search"><i class="fas fa-search"></i></button>
                <a href="{% url 'read' %}" class="btn btn-dark" style="margin-left: 2px;" title="Refresh"> <i class="fas fa-sync-alt"></i></a>
            </div>
        </form>
        <table class="table table-bordered" style="text-align: center; font-size: 14px;">
            <thead class="table-primary">
                <tr>
                    <th id="th1" style="width: 25%;">Name
                        <a href="?q={{ request.GET.q }}&sort_by=name_asc">&nbsp;<i class="fa-solid fa-arrow-up"></i></a>
                        <a href="?q={{ request.GET.q }}&sort_by=name_desc">&nbsp;<i class="fa-solid fa-arrow-down"></i></a>
                    </th>
                    <th style="width: 20%;">Phone</th>
                    <th style="width: 23%;">Email</th>
                    <th style="width: 7%;">Gender</th>
                    <th style="width: 15%;">Career</th>
                    <th colspan="2" style="width: 10%;">Actions</th>
                </tr>
            </thead>
            {% for candidate in object_list %}
            <tr>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.phone }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.gender }}</td>
                <td>{{ candidate.career }}</td>
                <td>
                    <a href="{% url 'update' pk=candidate.id %}" class="btn btn-primary btn-sm" style="width: 45px;">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete' pk=candidate.id %}" class="btn btn-secondary btn-sm" style="width: 45px;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <!-- Pagination -->
        <nav>
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3;">Fisrt</a>
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled"></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ i }}<span class="sr-only"></span>
                    </span>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3;">Last</a>
                {% else %}
                <li class="page-item disabled"></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
        <!-- Messages from backend (Method 2 -SWEETALERT JS) -->
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                  title: "Perfect !",
                  text: "{{ message }}",
                  icon: "success",
                });
              </script>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}
